.desktop {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .asset {
  position: absolute;
  top: 146px;
  left: 82px;
  width: 743px;
  height: 391px;
  aspect-ratio: 1.9;
  object-fit: cover;
}

.desktop .asset-x {
  position: absolute;
  top: 146px;
  left: 923px;
  width: 434px;
  height: 544px;
  aspect-ratio: 0.8;
  object-fit: cover;
}

.desktop .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1448px;
  height: 75px;
}

.desktop .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 75px;
  background-color: #000000;
}

.desktop .xas {
  position: absolute;
  top: 3px;
  left: 39px;
  width: 51px;
  height: 70px;
  aspect-ratio: 0.72;
  object-fit: cover;
}

.desktop .text-wrapper {
  left: 112px;
  font-family: "Josefin Sans-Bold", Helvetica;
  font-weight: 700;
  position: absolute;
  top: 28px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div {
  left: 863px;
  font-family: "Josefin Sans-Bold", Helvetica;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 28px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  left: 1044px;
  font-family: "Josefin Sans-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 28px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  left: 1247px;
  font-family: "Josefin Sans-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 28px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
